<!DOCTYPE html>
<html>
<head>
    <title>{% block head_title %}{{ 'admin.title'|trans({}, 'FSiAdminBundle')  }}{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_meta %}{% endblock %}
    {% block head_css %}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" type="text/css" media="all" />
        <style>
            body {position: relative;padding-top: 60px;}
            #batch_action {margin-right: 5px;width: 155px;}
            #batch_form {margin-right: 5px;}
            #filter input[type="text"],
            #filter input[type="email"],
            #filter input[type="datetime"],
            #filter input[type="date"],
            #filter input[type="time"],
            #filter select {width:190px; margin-right:5px;margin-left:5px;margin-bottom:5px;}
            #filter .submit-buttons {float:left; margin-right:5px;margin-left:5px;margin-bottom:5px;}
            #list-results {float:right;}
            #delete-wrapper {text-align: center;}
            #pagination-centered {text-align: center;}
            @media (max-width: 768px) {
                #list-results {margin-top:10px;text-align: center;float:none;}
                #datagrid-wrapper {margin-bottom:20px;}
                #datagrid-wrapper table {margin-bottom:0px;}
                #batch_action {margin-left:5px;}
            }
            .cell-editable {cursor: pointer;}
            .cell-value {display: inline;}
            .sort-asc {margin-right: 5px;}
            .actions > .btn, .editable-buttons > .btn {margin-left:5px;}
        </style>
    {% endblock %}
</head>
<body>
{% block themes %}{% endblock %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".admin-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('fsi_admin') }}">{{ 'admin.title'|trans({}, 'FSiAdminBundle')  }}</a>
        </div>
        <div class="collapse navbar-collapse admin-navbar-collapse">
            {% block navigation %}
                {{ knp_menu_render('main', {template: '@FSiAdmin/Admin/main_menu_theme.html.twig', currentClass: 'active'}) }}
                {{ knp_menu_render('tools', {template: '@FSiAdmin/Admin/tools_menu_theme.html.twig', currentClass: 'active'}) }}
            {% endblock %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {% block above_content %}{% endblock above_content %}
        {% block content %}{% endblock content %}
        {% block under_content %}{% endblock under_content %}
    </div>
</div>
{% block javascripts %}
    <script src="//code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('a.editable').click(function(event) {event.preventDefault();}); 
            $('a.editable').popover({}).on('shown.bs.popover', function () {
                var popover = $(this);
                $('a.editable-close').click(function(event){
                    event.preventDefault();
                    popover.popover('hide');
                });
            });
            $('a.editable.has-error').popover('show');
        });
    </script>
{% endblock %}
</body>
</html>
