<!DOCTYPE html>
<html>
<head>
    <title>{% block head_title %}{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_meta %}{% endblock %}
    {% block head_css %}
        <link rel="stylesheet" href="{{ asset('bundles/fsiadmin/css/bootstrap.min.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/fsiadmin/css/style.css') }}" type="text/css" media="all" />
    {% endblock %}
</head>
<body>
{% block themes %}{% endblock %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".admin-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('fsi_admin') }}">{{ 'admin.title'|trans({}, 'FSiAdminBundle')  }}</a>
        </div>
        <div class="collapse navbar-collapse admin-navbar-collapse">
            {% block navigation %}
                {{ knp_menu_render('menu', {'template': '@FSiAdmin/Admin/knp_menu.html.twig', 'currentClass' : 'active'}) }}
            {% endblock %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {% block above_content %}{% endblock above_content %}
        {% block content %}{% endblock content %}
        {% block under_content %}{% endblock under_content %}
    </div>
</div>
{% block javascripts %}
    <script src="{{ asset('bundles/fsiadmin/js/jquery-1.9.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/fsiadmin/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/fsiadmin/js/script.js') }}" type="text/javascript"></script>
{% endblock %}
</body>
</html>