{% extends admin_templates_base %}
{% trans_default_domain 'FSiAdminBundle' %}

{% block themes %}
    {% datasource_route datasource_view 'fsi_admin_list' with {'element' : element.id} %}
    {% datasource_theme datasource_view admin_templates_datasource_theme %}
    {% datagrid_theme datagrid_view admin_templates_datagrid_theme with {'datasource' : datasource_view, 'element' : element.id} %}
{% endblock themes %}

{% block above_content %}
{% if datasource_view.getFields()|length > 0 %}
<div class="row" id="filter">
    <div class="col-lg-12">
        <form class="form-inline filters" method="GET" action="{{ path(element.route, element.routeParameters) }}">
            <div class="pull-right hidden-xs">
                <button type="submit" class="btn btn-primary">{{ 'crud.list.datasource.search'|trans }}</button>
                <a href="{{ path(element.route, element.routeParameters) }}" class="btn btn-default">{{ 'crud.list.datasource.clear'|trans }}</a>
            </div>
            {{ datasource_filter_widget(datasource_view) }}
            <div class="visible-xs submit-buttons">
                <button type="submit" class="btn btn-primary">{{ 'crud.list.datasource.search'|trans }}</button>
                <a href="{{ path(element.route, element.routeParameters) }}" class="btn btn-default">{{ 'crud.list.datasource.clear'|trans }}</a>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock above_content %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h3>
            <span id="page-header">{% block list_title 'crud.list.title'|trans({}, 'FSiAdminBundle') %}</span>
            <div class="pull-right">
                {% block top_buttons %}
                {% endblock top_buttons %}
            </div>
        </h3>
        <div id="datagrid-wrapper" class="table-responsive">
            {{ datagrid_widget(datagrid_view) }}
        </div>
    </div>
</div>
{% endblock content %}

{% block under_content %}
<div class="row">
    <div class="col-lg-12">
        {% if datagrid_view.hasColumnType('batch') == true %}
            {% for column in datagrid_view.getColumns %}
                {% if column.type == 'batch' %}
                    {% set batch_form = column.getAttribute('batch_form') %}
                    {{ form_widget(batch_form.action, { 'id': 'batch_action', 'attr': { 'class': 'pull-left form-control' } } ) }}
                    {{ form_widget(batch_form.submit, { 'id': 'batch_action_confirmation', 'attr': { 'class': 'btn btn-primary' } } ) }}
                    <form class="form pull-left" id="batch_form" method="POST">
                        {% for index in datagrid_view.indexes %}
                            <input type="checkbox" class="hidden" value="{{ index }}" name="indexes[]" id="index_{{ index }}">
                        {% endfor %}
                        {{ form_rest(batch_form) }}
                    </form>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% block bottom_buttons '' %}
        <div id="list-results" class="pull-right">
            <strong>{{ 'crud.list.datagrid.result_count'|trans }} {{ datasource_view.result|length }}</strong>
            {{ datasource_max_results_widget(datasource_view) }}
        </div>
        <div class="clearfix"></div>
        <div id="pagination-centered">
            {{ datasource_pagination_widget(datasource_view, {max_pages: 10}) }}
        </div>
    </div>
</div>
{% endblock under_content %}

{% block javascripts %}
    {{ parent() }}
    {% if datagrid_view.hasColumnType('batch') == true %}
        <script>
            $(document).ready(function() {
                $('#batch_action_confirmation').click(function(event) {
                    var self = $(this),
                        action = $('#batch_action'),
                        elements = $('.{{ datagrid_view.name }}_batch'),
                        i = 0;

                    if (action[0].selectedIndex && $('.{{ datagrid_view.name }}_batch:checked').length) {
                        $('#batch_form').attr('action', action.val());
                        for (i; i < elements.length; i++) {
                            $('#index_' + $(elements[i]).val()).prop('checked', $(elements[i]).prop('checked'));
                        }

                        $('#batch_form')[0].submit();
                    }
                });
            });
        </script>
    {% endif %}
{% endblock javascripts %}
