<!DOCTYPE html>
<html>
<head>
    <title>{% block head_title 'admin.title'|trans({}, 'FSiAdminBundle') %}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex"/>
    {% block head_meta %}{% endblock %}
    {% block head_css %}
        <link rel="stylesheet" href="{{ asset('bundles/adminpanel/css/bootstrap.min.css') }}" type="text/css"
              media="all"/>
        <style>
            body {
                position: relative;
                padding-top: 60px;
            }

            .form-horizontal .control-label {
                text-align: left;
            }

            .form-horizontal .control-label .glyphicon {
                font-size: 11px;
                vertical-align: baseline;
            }

            .datagrid-actions select {
                width: 155px;
            }

            .table-datagrid thead .btn {
                margin-left: 5px;
            }

            .table-datagrid .actions .btn {
                margin-left: 5px;
            }

            .table-datagrid a.editable {
                visibility: hidden;
            }

            .table-datagrid td:hover a.editable {
                visibility: visible;
            }

            .table-datagrid a.editable-close {
                margin: 5px;
            }

            .table-datagrid .datagrid-cell .popover {
                min-width: 500px;
                max-width: 550px;
            }
        </style>
    {% endblock %}
    <script src="{{ asset('bundles/fsiadmin/js/require.js') }}" type="text/javascript"></script>
    <script>
        requirejs.config({
            shim: {"bootstrap": {"deps": ['jquery']}},
            paths: {
                "jquery": "{{ asset('bundles/fsiadmin/js/jquery-1.11.2.min') }}",
                "bootstrap": "{{ asset('bundles/fsiadmin/js/bootstrap.min') }}",
                "collection": "{{ asset('bundles/fsiadmin/js/collection') }}"
            }
        });
    </script>
</head>
<body>
{% block themes %}{% endblock %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".admin-navbar-collapse">
                <span class="sr-only">{{ 'admin.menu.toggle' | trans }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('fsi_admin') }}">{{ 'admin.title'|trans({}, 'FSiAdminBundle') }}</a>
        </div>
        <div class="collapse navbar-collapse admin-navbar-collapse">
            {% block navigation %}
                {{ knp_menu_render('fsi_admin.menu.main', {template: '@FSiAdmin/Admin/main_menu_theme.html.twig', currentClass: 'active', ancestorClass: 'active'}) }}
                {{ knp_menu_render('fsi_admin.menu.tools', {template: '@FSiAdmin/Admin/tools_menu_theme.html.twig', currentClass: 'active', ancestorClass: ''}) }}
            {% endblock %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            {% block messages %}{% include '@AdminPanel/flash_messages.html.twig' %}{% endblock %}
            {% block above_content %}{% endblock above_content %}
            {% block content %}{% endblock content %}
            {% block under_content %}{% endblock under_content %}
        </div>
    </div>
</div>
{% block javascripts %}
    <script>
        require(['jquery', 'bootstrap']);
    </script>
{% endblock %}
</body>
</html>
