{% trans_default_domain 'FSiAdminBundle' %}

{% if element.option('allow_delete') == true and datagrid_view.hasColumnType('batch') == true %}
    <form class="form pull-left" id="batch_form" method="POST" data-datagrid-name="{{ datagrid_view.name }}">
        {% for index in datagrid_view.indexes %}
            <input type="checkbox" class="hidden" value="{{ index }}" name="indexes[]" id="index_{{ index }}">
        {% endfor %}
        <input type="hidden" name="_method" value="DELETE" />
        <button id="batch_action_confirmation" type="submit" class="btn btn-primary" value="{{ 'crud.list.batch.confirm'|trans }}" data-datagrid-name="{{ datagrid_view.name }}"/>
    </form>
{% endif %}