{% trans_default_domain 'FSiAdminBundle' %}

<div class="pull-right">
    <strong>{{ 'crud.list.datagrid.result_count'|trans }} {{ elements_count }}</strong>
    {{ datasource_max_results_widget(datasource_view, {additional_parameters : {'element' : element.id}}) }}
    {% if element.hasExportDataSource() == true and element.hasExportDataGrid() == true %}
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                {{ 'crud.list.datagrid.export.export_to'|trans}}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="{{ path('fsi_admin_data_io_export', {element: element.id, type : 'csv'}) }}" target="_blank">{{ 'crud.list.datagrid.export.csv'|trans }}</a></li>
                <li><a href="{{ path('fsi_admin_data_io_export', {element: element.id, type : 'csvexcel'}) }}" target="_blank">{{ 'crud.list.datagrid.export.excel_csv'|trans }}</a></li>
                <li><a href="{{ path('fsi_admin_data_io_export', {element: element.id, type : 'excel'}) }}" target="_blank">{{ 'crud.list.datagrid.export.excel_95'|trans }}</a></li>
                <li><a href="{{ path('fsi_admin_data_io_export', {element: element.id, type : 'excel2003'}) }}" target="_blank">{{ 'crud.list.datagrid.export.excel_2003'|trans }}</a></li>
                <li><a href="{{ path('fsi_admin_data_io_export', {element: element.id, type : 'excel2007'}) }}" target="_blank">{{ 'crud.list.datagrid.export.excel_2007'|trans }}</a></li>
            </ul>
        </div>
    {% endif %}
</div>