{% extends 'bootstrap_3_layout.html.twig' %}

{% block datasource_field %}
    {% spaceless %}
        {% if field.hasAttribute('form') is not empty %}
            {% for child in field.getAttribute('form').children %}
                {% for grandchild in child %}
                    {% form_theme grandchild _self %}
                    {{ form_row(grandchild) }}
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block datasource_max_results %}
    <div class="btn-group">
        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
            {{ 'crud.list.datasource.results_per_page'|trans({}, 'FSiAdminBundle') }}: {{ max_results }}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            {% for result_num, result_url in results %}
                <li><a href="{{ result_url }}">{{ result_num }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block datasource_between_row %}
    {% spaceless %}
        {{ form_widget(form) }}
    {% endspaceless %}
{% endblock datasource_between_row %}

{% block datasource_between_widget %}
    {% spaceless %}
        {% for child in form %}
            {{ form_row(child) }}
        {% endfor %}
    {% endspaceless %}
{% endblock datasource_between_widget %}

{% block datasource_pagination %}
    {% spaceless %}
        <ul class="pagination">
            <li{% if current == first %} class="{{ disabled_class }}"{% endif %}>
                <a href="{% if current != first %}{{ first_url }}{% else %}#{% endif %}">{{ 'datasource.pagination.first'|trans({}, translation_domain) }}</a>
            </li>
            <li{% if current == first %} class="{{ disabled_class }}"{% endif %}>
                <a href="{% if current != first %}{{ prev_url }}{% else %}#{% endif %}">{{ 'datasource.pagination.prev'|trans({}, translation_domain) }}</a>
            </li>
            {% for page, url in pages_urls %}
                <li{% if current == page %} class="{{ active_class }}"{% endif %}>
                    <a href="{% if current != page %}{{ url }}{% else %}#{% endif %}">{{ page }}</a>
                </li>
            {% endfor %}
            <li{% if current == last %} class="{{ disabled_class }}"{% endif %}>
                <a href="{% if current != last %}{{ next_url }}{% else %}#{% endif %}">{{ 'datasource.pagination.next'|trans({}, translation_domain) }}</a>
            </li>
            <li{% if current == last %} class="{{ disabled_class }}"{% endif %}>
                <a href="{% if current != last %}{{ last_url }}{% else %}#{% endif %}">{{ 'datasource.pagination.last'|trans({}, translation_domain) }}</a>
            </li>
        </ul>
    {% endspaceless %}
{% endblock %}

{% block datasource_sort %}
    {% spaceless %}
        {% if (field.getAttribute('sorted_ascending')) %}
            <button type="button" class="btn btn-default btn-xs sort-asc" disabled="disabled">
                <span class="glyphicon glyphicon-sort-by-alphabet"></span>
            </button>
        {% else %}
            <a href="{{ ascending_url }}" class="btn btn-default btn-xs sort-asc"><span
                        class="glyphicon glyphicon-sort-by-alphabet"></span></a>
        {% endif %}
        {% if (field.getAttribute('sorted_descending')) %}
            <button type="button" class="btn btn-default btn-xs sort-desc" disabled="disabled">
                <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
            </button>
        {% else %}
            <a href="{{ descending_url }}" class="btn btn-default btn-xs sort-desc"><span
                        class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
        {% endif %}
    {% endspaceless %}
{% endblock %}
