{% block datagrid %}
{% spaceless %}
    <table class="table table-hover table-striped table-bordered" id="{{ datagrid.name }}">
        <thead>
        {{ datagrid_header_widget(datagrid) }}
        </thead>
        <tbody>
        {{ datagrid_rowset_widget(datagrid) }}
        </tbody>
    </table>
{% endspaceless %}
{% endblock %}

{% block datagrid_column_cell %}
{% spaceless %}
    <td class="cell">
        <div id="{{ datagrid_name }}_{{ row_index }}_{{ cell.name }}">
            {% if cell.hasAttribute('form') %}
                {% set class = 'editable' %}
                {% if cell.getAttribute('form').vars.valid == false %}
                    {% set class = class ~ ' has-error' %}
                {% endif %}
                <a href="#" class="{{ class }}" data-toggle="popover" data-html="true" data-content="{{ datagrid_column_cell_form_widget(cell)|escape }}">
                    {% if cell.value is empty %}
                        {{ 'crud.list.datagrid.editable.empty'|trans({}, 'FSiAdminBundle') }}
                    {% else %}
                        {{ cell.value|raw }}
                    {% endif %}
                </a>
            {% else %}
                {{ cell.value|raw }}
            {% endif %}
        </div>
    </td>
{% endspaceless %}
{% endblock %}

{% block datagrid_column_header %}
{% spaceless %}
    <th>
        <span>{{ header.label|trans({}, translation_domain) }}</span>
        {% if (vars.datasource.hasField(header.name)) %}
            {% set filter = vars.datasource.getField(header.name) %}
            {% if filter.getAttribute('sortable') == true %}
                &nbsp;{{ datasource_sort_widget(filter) }}
            {% endif %}
        {% endif %}
    </th>
{% endspaceless %}
{% endblock %}

{# pattern: datagrid_column_cell_form #}
{% block datagrid_column_cell_form %}
{% spaceless %}
    {% form_theme form _self %}
    <div class="editable-title">
        <span>{{ 'crud.list.datagrid.editable.title'|trans({}, 'FSiAdminBundle') }}</span>
        <a href="#" class="close editable-close">&times;</a>
    </div>
    <form method="POST">
        {% for child in form.children %}
            {% for subchild in child.children %}
                <div class="form-group{% if subchild.vars.errors|length %} has-error{% endif %}">
                    {{ form_label(subchild, subchild.vars.label|default(null), { 'label_attr': { 'class': 'sr-only' } }) }}
                    {{ form_widget(subchild, {'attr' : {'class' : 'form-control'} }) }}
                    {{ form_errors(subchild) }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="form-group editable-buttons">
            <input type="submit" name="submit" value="{{ 'crud.list.datagrid.editable.save'|trans({}, 'FSiAdminBundle') }}" class="btn btn-sm">
            <input type="reset" name="reset" value="{{ 'crud.list.datagrid.editable.reset'|trans({}, 'FSiAdminBundle') }}" class="btn btn-primary btn-sm">
        </div>
    </form>
{% endspaceless %}
{% endblock %}

{#  pattern: datagrid_{grid_name}_column_name_{column_name}_cell #}
{% block datagrid_column_type_action_cell %}
{% spaceless %}
    <td class="cell">
        <div class="text-right actions">
            {% for action_name, action in cell.value %}
                {{ datagrid_column_type_action_cell_action_widget(cell, action_name, action.content, action.url_attr|merge({'href' : action.url})) }}
            {% endfor %}
        </div>
    </td>
{% endspaceless %}
{% endblock %}

{#  pattern: datagrid_column_type_action_cell_action_{action_name} #}
{% block datagrid_column_type_action_cell_action_edit %}
{% spaceless %}
    <a href="{{ attr.href }}" title="{{ 'crud.list.datagrid.action.edit'|trans({}, 'FSiAdminBundle')  }}" class="btn btn-warning btn-sm">
        <span class="glyphicon glyphicon-edit icon-white"></span>
    </a>
{% endspaceless %}
{% endblock %}

{#  pattern: datagrid_column_type_action_cell_action_{action_name} #}
{% block datagrid_column_type_action_cell_action_display %}
    {% spaceless %}
        <a href="{{ attr.href }}" title="{{ 'crud.list.datagrid.action.display'|trans({}, 'FSiAdminBundle')  }}" class="btn btn-warning btn-sm">
            <span class="glyphicon glyphicon-zoom-in icon-white"></span>
        </a>
    {% endspaceless %}
{% endblock %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <span class="help-block">{{ error.message }}</span>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}
