{% block datasource_field %}
    {% spaceless %}
        {% if field.hasAttribute('form') is not empty %}
            {% for child in field.getAttribute('form').children %}
                {% form_theme child _self %}
                {{ form_widget(child) }}
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block datasource_max_results %}
<div class="btn-group">
    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
        {{ 'crud.list.datasource.results_per_page'|trans({}, 'FSiAdminBundle') }}: {{ max_results }}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    {% for result_num, result_url in results %}
        <li><a href="{{ result_url }}">{{ result_num }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endblock %}

{% block form_widget_compound %}
{% spaceless %}
    {{ block('form_rows') }}
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock form_widget_compound %}

{% block form_row %}
{% spaceless %}
    <div class="form-group{% if errors|length > 0 %} has-error{% endif %}">
        {{ form_label(form, label|default(null), {'label_attr' : {'class' : 'control-label'} }) }}
        {{ form_widget(form, {'attr' : {'class' : 'form-control'} }) }}
        {{ form_errors(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}


