{% block datasource_field %}
    {% spaceless %}
        {% if field.hasAttribute('form') is not empty %}
            {% for child in field.getAttribute('form').children %}
                {% for subchild in child.children %}
                <div class="control-group">
                    <div class="controls">
                    {{ form_label(subchild) }}
                    {{ form_errors(subchild) }}
                    {{ form_widget(subchild) }}
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block datasource_max_results %}
<div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        {{ 'crud.list.datasource.results_per_page'|trans({}, 'FSiAdminBundle') }}: {{ max_results }}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    {% for result_num, result_url in results %}
        <li><a href="{{ result_url }}">{{ result_num }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endblock %}


