{% block datagrid %}
{% spaceless %}
    <table class="table table-hover table-striped table-bordered table-datagrid" id="{{ datagrid.name }}">
        <thead>
        {{ datagrid_header_widget(datagrid) }}
        </thead>
        <tbody>
        {{ datagrid_rowset_widget(datagrid) }}
        </tbody>
    </table>
{% endspaceless %}
{% endblock %}

{% block datagrid_column_cell %}
{% spaceless %}
    <td{{ block('datagrid_cell_attributes') }}>
        <div{{ block('datagrid_container_attributes') }}>
            {{ block('datagrid_column_cell_form_link') }}
            <span{{ block('datagrid_value_attributes') }}>
                {{ cell.value|raw }}
            </span>
        </div>
    </td>
{% endspaceless %}
{% endblock %}

{% block datagrid_column_cell_form_link %}
    {% if cell.hasAttribute('form') %}
        <a href="#" class="{{ block('datagrid_column_cell_form_link_class') }}"
           title="{{ 'crud.list.datagrid.editable.title'|trans({}, 'FSiAdminBundle') }}"
           data-toggle="popover" data-html="true" data-placement="right"
           data-template="{{ block('datagrid_column_cell_form_popover')|escape }}"
           data-content="{{ datagrid_column_cell_form_widget(cell)|escape }}"></a>
    {% endif %}
{% endblock datagrid_column_cell_form_link %}

{%- block datagrid_column_cell_form_link_class -%}
    editable glyphicon glyphicon-edit pull-right
    {% if cell.getAttribute('form').vars.valid == false %} has-error{% endif %}
{%- endblock datagrid_column_cell_form_link_class -%}

{%- block datagrid_column_cell_form_popover -%}
    <div class="popover" role="tooltip">
        <div class="arrow"></div>
        <a href="#" class="close editable-close glyphicon glyphicon-remove"></a>
        <h3 class="popover-title"></h3>
        <div class="popover-content"></div>
    </div>
{%- endblock datagrid_column_cell_form_popover -%}

{% block datagrid_column_cell_form %}
{% spaceless %}
    {% form_theme form '@FSiAdmin/CRUD/datagrid_edit_form.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="col-sm-12 form-group editable-buttons">
        <input type="submit" name="submit" value="{{ 'crud.list.datagrid.editable.save'|trans({}, 'FSiAdminBundle') }}" class="btn btn-sm btn-primary">
    </div>
    {{ form_end(form) }}
{% endspaceless %}
{% endblock %}

{% block datagrid_column_header %}
    {% spaceless %}
        <th{{ block('datagrid_header_attributes') }}>
            <span>{{ header.label|trans({}, translation_domain) }}</span>
            {% if vars.datasource is defined and vars.datasource.hasField(header.name) %}
                {% set filter = vars.datasource.getField(header.name) %}
                {% if filter.getAttribute('sortable') == true %}
                    {{ datasource_sort_widget(filter) }}
                {% endif %}
            {% endif %}
        </th>
    {% endspaceless %}
{% endblock %}

{#  pattern: datagrid_{grid_name}_column_name_{column_name}_cell #}
{% block datagrid_column_type_action_cell %}
{% spaceless %}
    <td{{ block('datagrid_cell_attributes') }}>
        <div{{ block('datagrid_container_attributes') }}>
            {% for action_name, action in cell.value %}
                {{ datagrid_column_type_action_cell_action_widget(
                    cell,
                    action_name,
                    action.content,
                    action.url_attr,
                    action.field_mapping_values
                ) }}
            {% endfor %}
        </div>
    </td>
{% endspaceless %}
{% endblock %}

{#  pattern: datagrid_column_type_action_cell_action_{action_name} #}
{% block datagrid_column_type_action_cell_action_edit %}
{% spaceless %}
    <a href="{{ attr.href }}" title="{{ 'crud.list.datagrid.action.edit'|trans({}, 'FSiAdminBundle')  }}" class="btn btn-warning btn-sm">
        <span class="glyphicon glyphicon-edit icon-white"></span>
    </a>
{% endspaceless %}
{% endblock %}

{#  pattern: datagrid_column_type_action_cell_action_{action_name} #}
{% block datagrid_column_type_action_cell_action_display %}
    {% spaceless %}
        <a href="{{ attr.href }}" title="{{ 'crud.list.datagrid.action.display'|trans({}, 'FSiAdminBundle')  }}" class="btn btn-warning btn-sm">
            <span class="glyphicon glyphicon-zoom-in icon-white"></span>
        </a>
    {% endspaceless %}
{% endblock %}

{%- block datagrid_header_class -%}
    datagrid-header
{%- endblock datagrid_header_class -%}

{%- block datagrid_cell_class -%}
    datagrid-cell
{%- endblock datagrid_cell_class -%}

{%- block datagrid_container_class -%}
    datagrid-cell-container
    {%- if cell.type == 'action' %} text-right actions{% endif -%}
{%- endblock datagrid_container_class -%}

{%- block datagrid_value_class -%}
    datagrid-cell-value
{%- endblock datagrid_value_class -%}

{%- block datagrid_value_attributes -%}
    {% set attr = cell.getAttribute('cell_attr')|merge({class: (cell.getAttribute('cell_attr')['class']|default('') ~ ' ' ~ block('datagrid_value_class'))|trim}) %}
    {{ block('datagrid_attributes') }}
{%- endblock datagrid_value_attributes -%}

{%- block datagrid_cell_attributes -%}
    {% set attr = cell.getAttribute('value_attr')|merge({class: (cell.getAttribute('value_attr')['class']|default('') ~ ' ' ~ block('datagrid_cell_class'))|trim}) %}
    {{ block('datagrid_attributes') }}
{%- endblock datagrid_cell_attributes -%}

{%- block datagrid_header_attributes -%}
    {% set attr = header.getAttribute('header_attr')|merge({class: (header.getAttribute('header_attr')['class']|default('') ~ ' ' ~ block('datagrid_header_class'))|trim}) %}
    {{ block('datagrid_attributes') }}
{%- endblock datagrid_header_attributes -%}

{%- block datagrid_container_attributes -%}
    {% set id = datagrid_name ~ '_' ~ row_index ~ '_' ~ cell.name %}
    {% set class = (header.getAttribute('container_attr')['class']|default('') ~ ' ' ~ block('datagrid_container_class'))|trim %}
    {% set attr = {id: id}|merge(cell.getAttribute('container_attr'))|merge({class: class}) %}
    {{ block('datagrid_attributes') }}
{%- endblock datagrid_container_attributes -%}

{%- block datagrid_attributes -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {{- attrname }}="{{ attrvalue }}"
    {%- endfor -%}
{%- endblock datagrid_attributes -%}
