{% extends admin_templates_base %}

{% block themes %}
    {% form_theme form admin_templates_delete_form_theme %}
{% endblock themes %}

{% block content %}
    <div class="col-lg-6 col-lg-offset-3 well" id="delete-wrapper">
        {% block message %}
        <div>
            <p>{{ 'crud.delete.message'|trans({"%count%" : indexes|length}, 'FSiAdminBundle') }}</p>
        </div>
        {% endblock message %}
        {% block form %}
        {{ form_start(form, { action: path('fsi_admin_crud_delete', { element: element.id }), 'attr': { class: 'form-horizontal' }|merge(form.vars.attr) }) }}
            {% for index in indexes %}
            <input type="hidden" value="{{ index }}" name="indexes[]"/>
            {% endfor %}
            {{ form_rest(form) }}
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit" class="btn btn-success" name="confirm">{{ 'crud.delete.form.confirm.label'|trans({}, 'FSiAdminBundle') }}</button>
            <button type="submit" class="btn btn-danger" name="cancel">{{ 'crud.delete.form.cancel.label'|trans({}, 'FSiAdminBundle') }}</button>
        {{ form_end(form) }}
        {% endblock form %}
    </div>
{% endblock %}