{% extends admin_templates_base %}

{% block themes %}
    {% form_theme form admin_templates_resource_form_theme %}
{% endblock themes %}

{% block content %}
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                {% block header %}
                    <h3 id="page-header">{{ 'resource.title'|trans({}, 'FSiAdminBundle') }}</h3>
                {% endblock header %}
                {{ form_start(form, { action: path('fsi_admin_resource', { element: element.id }), 'attr': { class: 'form-horizontal' }|merge(form.vars.attr) }) }}
                    {{ form_widget(form) }}
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-primary">{{ 'resource.button.save'|trans({}, 'FSiAdminBundle')  }}</button>
                            <button type="reset" class="btn btn-default">{{ 'resource.button.reset'|trans({}, 'FSiAdminBundle')  }}</button>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
