{% extends admin_templates_base %}

{% block themes %}
    {% form_theme form admin_templates_form_theme %}
{% endblock themes %}

{% block content %}
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>
                    <span id="page-header">{% block form_title 'crud.form.title'|trans({}, 'FSiAdminBundle') %}</span>
                    <div class="pull-right">
                        {% block top_buttons %}
                            {% if app.request.query.has('redirect_uri') %}
                                <a class="btn btn-xs btn-default" href="{{ app.request.query.get('redirect_uri') }}">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                    {{ 'crud.form.button.back'|trans({}, 'FSiAdminBundle') }}
                                </a>
                            {% endif %}
                        {% endblock top_buttons %}
                    </div>
                </h3>
                {{ form_start(form, {
                    action: path(
                        element.route,
                        element.routeParameters|merge({
                            id: app.request.get('id'),
                            redirect_uri: app.request.query.get('redirect_uri')
                        })
                    ),
                    attr: { class: 'form-horizontal' }|merge(form.vars.attr)
                } ) }}
                    {{ form_widget(form) }}
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-floppy-disk"></span>
                                {{ 'crud.form.button.save'|trans({}, 'FSiAdminBundle') }}
                            </button>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
